<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{job.title}} = Career openings    </title>
</head>
<body>
    <h4>Title</h4>
    <p>{{job.title}}</p>
    <h4>{{job.location}}</h4>
    <h4>salary</h4>
    <p>{{job.salary}} {{job.currency}}</p>
    <h4>Responsibilities</h4>
    <p>{{job.Responsibilities}}</p>
    <h4>Requirements</h4>
    <p>{{job.Requirements}}</p>
    
</body>
</html>